AddDefaultCharset UTF-8
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]

Options -Indexes

php_value upload_max_filesize 1024M
php_value post_max_size 256M
php_value memory_limit 512M
php_value max_input_time 180
php_value max_execution_time 180


#<IfModule mime_module>
#  AddHandler application/x-httpd-ea-php80___lsphp .php .php8 .phtml
#</IfModule>