#table-folder {
    min-height: 404px;
    min-width: 185px;
}
#table-folder tr {
    background-color: #ffffff;
    cursor: pointer!important;
    pointer-events: auto;
}
#table-folder tr td {
    padding: 2px 5px;
}
#table-folder tr:hover,
#table-files tr:hover {
    outline: 2px solid #5ebcff;
}
#table-folder .folder-sel {
    background-color: rgba(255, 255, 0, 0.46) !important;
}
#table-folder table {
    display: block;
    max-height: 299px;
    overflow-y: auto;
}
#table-files {
    min-width: 280px;
}
#table-files tr {
    pointer-events: auto!important;
    background-color: #ffffff;
}
#table-files tr td:nth-child(2) {
    padding: 2px 6px;
}
#table-files input[type="checkbox"] {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 2px 4px;
    cursor: pointer;
}
.tables-wrapper > div {
    position: sticky;
    top: 0;
    max-height: 60vh;
    overflow-y: auto;
}
.menu-files-row {
    background-color: #ffffff;
    z-index: 10;
    position: sticky;
    top: 0;
    padding: 2px 5px;
    border-radius: 5px;
    border-bottom: 2px solid #d5d5d5;
}
#loader-zone {
    position: sticky;
    bottom: 0;
    z-index: 100;
    border: 2px dashed orange;
    background-color: #ffffff;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    color: #00000054;
}
#loader-zone:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/DOWNLOAD/20231008-205353_id-2-805275.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    opacity: 0.1;
}
#loader-zone.load-in {
    border: 3px dashed #ff0000;
    background-color: #fffa89;
}
#buttons button {
    display: inline-block;
    margin: 2px!important;
}
#indicators .ind .ind-ind {
    height: 14px;
    background-color: #0F9640;
    width: 0;
}
.text-input-wrapper {
    margin-left: 150px;
}
.text-input-wrapper input {
    display: inline-block;
    min-width: 250px;
    padding: 3px 10px!important;
}