.editor-wrapper {
    transition: 0.5s;
    opacity: 0;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    background-color: #fff;
    z-index: 10;
}
.editor-wrapper.editor-visible {
    opacity: 1!important;
}
.header-tiny {
    min-height: 37px;
    padding: 5px 0 0;
    /*background-color: #5ebcff;*/
    width: 100%;
}
.header-tiny button {
    border: 1px solid #b6b6b6;
    border-radius: 4px;
}
.stars {
    margin-left: auto;
    position: relative;
    background-color: #dadada;
    cursor: pointer;
}
.stars img {
    z-index: 10;
}
.stars .star-shore {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: yellow;
}