.delivery .img-wrapper {
    min-width: 100px;
}
.delivery .content-shop {
    min-height: 60vh;
    position: relative;
}
/*#map-delivery {*/
/*    width: 100%;*/
/*    height: 60vh;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    box-sizing: border-box;*/
/*}*/
/*#map-delivery > ymaps:first-child {*/
/*    height: calc(60vh - 5px)!important;*/
/*}*/
/*.shops-profil[open] #map-delivery {*/
/*    position: relative;*/
/*}*/

#body-s .catalog.delivery #map {
    height: 60dvh;
    min-height: 60dvh;
}